/* =======================
   NAVBAR CENTRADA
======================= */
.nav-menu {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 32px;
    padding: 16px 32px;
    background: rgba(18, 18, 26, 0.8);
    border-radius: 50px;
    border: 1px solid rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    flex-shrink: 0;
    width: fit-content;
}

.nav-menu ul li a{
    text-decoration: none;
    color: var(--text-main);
    font-weight: 500;
    position: relative;
    padding: 8px 13px;
    transition: all 0.3s ease;
    font-size: 16px;
}

/* Hover neon dinámico */
.nav-menu li a:hover {
    color: var(--neon-green);
}


/*Hover animado*/
nav a {
    position: relative;
    text-decoration: none;
    color: #e6e6e6;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
}

/* Línea */
.nav-menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--neon-green); /* verde neon */
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

/* Hover */
nav a:hover::after {
    width: 100%;
}
